#!/usr/bin/make -f

# Bazel is incompatible with CCACHE, and CC / CXX must be set to override it.
# Issue: https://github.com/bazelbuild/bazel/issues/1164
export CCACHE_DISABLE=1
export CC=/usr/bin/gcc
export CXX=/usr/bin/g++

PREFIX=usr/bin/

%:
	dh $@

override_dh_auto_build:
	bash compile.sh

override_dh_auto_install:
	install -Dm0744 output/bazel $(PREFIX)/bazel

override_dh_strip:

override_dh_shlibdeps:
