#!/usr/bin/make -f

PREFIX=usr/bin/

%:
	dh $@

override_dh_auto_build:
	bash compile.sh

override_dh_auto_install:
	install -Dm0744 output/bazel $(PREFIX)/bazel

override_dh_strip:

override_dh_shlibdeps:
