/*/debian/files
/*/debian/*.substvars
/*/debian/*.log
/*/debian/tmp
/*/debian/.debhelper
/*/installer-*
/*/patch*.run
/*/debian/system76-cuda-?-?/
/cuda/debian/system76-cuda/
/*.buildinfo
/*.changes
/*.deb
/*.ddeb
