Source: tensorflow-1.9-cpu
Maintainer: Michael Aaron Murphy <michael@system76.com>
Standards-Version: 4.1.1
Priority: optional
Section: devel
Build-Depends:
    autoconf,
    autogen,
    bazel,
    build-essential,
    cmake,
    curl,
    debhelper (>= 9),
    g++-7,
    git,
    libtool,
    mlocate,
    python,
    python3-dev,
    python3-numpy,
    python3-pip,
    python3-setuptools,
    python3-wheel,
    unzip,
    wget,
    zlib1g-dev,
    tree,

Package: tensorflow-1.9-cpu
Description: An open source machine learning framework
Architecture: amd64
Section: devel
Depends:
    autoconf,
    autogen,
    build-essential,
    cmake,
    curl,
    g++-7,
    git,
    libtool,
    mlocate,
    python,
    python3-dev,
    python3-numpy,
    python3-pip,
    python3-setuptools,
    python3-wheel,
    unzip,
    wget,
    zlib1g-dev,
    ${misc:Depends},
