Source: system76-nccl-10.0
Maintainer: Michael Aaron Murphy <michael@system76.com>
Standards-Version: 4.1.1
Priority: optional
Section: devel
Build-Depends:
    debhelper (>= 9),
    build-essential,
    g++-7,
    system76-cuda-10.0,
    unzip,

Package: system76-nccl-10.0
Description: Optimized primitives for collective multi-GPU communication.
Architecture: amd64
Section: devel
Depends:
    build-essential,
    g++-7,
    system76-cuda-10.0,
    ${misc:Depends},
