#!/usr/bin/make -f

export CUDA_VERSION=11.2
export DESTDIR=$(PWD)/debian/tmp
export CC=/usr/bin/gcc-9
export CXX=/usr/bin/g++-9

%:
	dh $@

override_dh_auto_build:
	make \
		INSTALLER=cuda_11.2.0_460.27.04_linux.run \
		INSTALLER_SUM=04b39f63c3b97153631ca12ed230be51

override_dh_auto_install:
	dh_auto_install || (cat /tmp/installer.log; cat /tmp/cuda-installer.log;  exit 1)

# CUDA ships its own shared libraries
override_dh_shlibdeps:

override_dh_strip:
