Source: system76-cudnn-9-0
Maintainer: Michael Aaron Murphy <michael@system76.com>
Standards-Version: 4.1.1
Priority: optional
Section: devel
Build-Depends: debhelper (>= 9)

Package: system76-cudnn-9-0
Description: NVIDIA CUDA Deep Neural Network library (cuDNN) for CUDA 9.0
Architecture: amd64
Section: devel
Depends:
    system76-cuda-9-0,
    ${misc:Depends},
