#!/usr/bin/make -f

CUDA_VERSION=9.0
PREFIX=usr/lib/cuda-$(CUDA_VERSION)

%:
	dh $@

override_dh_auto_build:

override_dh_auto_install:
	tar xvf cudnn.tgz

# CUDA ships its own shared libraries
override_dh_shlibdeps:

override_dh_strip:
