#!/usr/bin/make -f

CUDA_VERSION=9.2
DESTDIR=$(PWD)/debian/tmp/usr/lib/$(CUDA_VERSION)

%:
	dh $@

override_dh_auto_build:

override_dh_auto_install:
	mkdir -p $(DESTDIR); \
	tar xvf cudnn.tgz -C $(DESTDIR); \
	mv $(DESTDIR)/cuda/* $(DESTDIR); \
	rmdir $(DESTDIR)/cuda

# CUDA ships its own shared libraries
override_dh_shlibdeps:

override_dh_strip:
