#!/usr/bin/make -f

export CUDA_VERSION=10.1
export DESTDIR=$(PWD)/debian/tmp
export CC=/usr/bin/gcc-8
export CXX=/usr/bin/g++-8

%:
	dh $@

override_dh_auto_build:
	make \
		INSTALLER=cuda_10.1.105_418.39_linux.run \
		INSTALLER_SUM=4be516e493ef9588f455df0722e2e686

# CUDA ships its own shared libraries
override_dh_shlibdeps:

override_dh_strip:
