#!/usr/bin/make -f

export CUDA_VERSION=9.2
export DESTDIR=$(PWD)/debian/tmp

%:
	dh $@

override_dh_auto_build:
	make \
		PATCHES="/1/cuda_9.2.88.1_linux=0e615d99152b9dfce5da20dfece6b7ea" \
		INSTALLER=cuda_9.2.88_396.26_linux \
		INSTALLER_SUM=dd6e33e10d32a29914b7700c7b3d1ca0

# CUDA ships its own shared libraries
override_dh_shlibdeps:

override_dh_strip:
	dh_strip -Xsamples
