#!/usr/bin/make -f

export CUDA_VERSION=11.1
export DESTDIR=$(PWD)/debian/tmp
export CC=/usr/bin/gcc-9
export CXX=/usr/bin/g++-9

%:
	dh $@

override_dh_auto_build:
	make \
		INSTALLER=cuda_11.1.1_455.32.00_linux.run \
		INSTALLER_SUM=c24e2755e3868692051a38797ce01044

override_dh_auto_install:
	dh_auto_install || (cat /tmp/installer.log; cat /tmp/cuda-installer.log;  exit 1)

# CUDA ships its own shared libraries
override_dh_shlibdeps:

override_dh_strip:
